<h1>Cabecera de la Pagina</h1>
<h2>Subtitulo de la Pagina</h2>

<div class="rutas">
  <a [routerLink]="['/sobre']" routerLinkActive="activa">Sobre</a>
  <a [routerLink]="['/informacion']" routerLinkActive="activa">Informacion</a>
  <a   [routerLink]="['/contacto']"  routerLinkActive="activa">Contacta con Nosotros</a>
</div>
<router-outlet></router-outlet>

<div class="botones">
  <button (click)="onClick('sobre')">Sobre Mi</button>
  <button (click)="onClick('informacion')">Informacion de la pagina</button>
  <button (click)="onClick('contacto')">Contacta con nosotros</button>
</div>