.productos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
}
.producto{
    border:  1px solid rgb(146, 145, 145);
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;

}

.producto div p:first-child{
    float: left;
}
.producto div p:last-child{
    float: right;
}
